@page "/"

<PageTitle>Transit Tracker</PageTitle>

<h1>Welcome to Transit Tracker!</h1>

Input the number of the bus route you want to search.

<p>
    <input @bind="routeNum" />
</p>


<ul>
    <li><code>routeNum</code>: @routeNum</li>
</ul>

@code {
    private string? routeNum { get; set; }
}